<h2 class="p-title">Contact us</h2>
<div class="row">
	<div class="col-sm-6">
		<form action="#">
			<div class="form-group">
			<input type="text" class="form-control" placeholder="Name please">
		</div> <!-- End form group -->

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email please">
			</div> <!-- End form group -->


			<div class="form-group">
				<input type="text" class="form-control" placeholder="Subject">
			</div> <!-- End form group -->


			<div class="form-group">
				<textarea class="form-control" cols="20" rows="10" placeholder="Write your message here "></textarea>

			</div> <!-- End form group -->

			<div class="form-group">
				<button class="btn btn-default"> Send </button>
			</div> <!-- End form group -->
		</form> <!-- End Form -->

	</div> <!-- End col 12 -->
</div> <!-- End row -->