<div class="row">
	<div class="col-sm-4">
		<figure>
			<img ng-src="{{ focusImage }}" alt="" width="200">
			<figcaption>	<span class="p-name">{{ phone.id }}</span> </figcaption>
		</figure>
	
</div> <!-- End --> 


	<div class="col-sm-8">
			<ul class="p-img-list">
				<li ng-repeat="img in phone.images">
						<img ng-src="{{ img }}" ng-click="setImage(img)" width="100">
				</li>
			</ul>
	</div> <!-- End col 8 -->
</div> <!-- End row -->

<hr class="line">
<div class="row">
	<div class="col-sm-12">
			<div class="feature">
					<ul>
						<li> <span class="i-title">Availability</span> : {{ phone.availability }} </li>

						<li> <span class="i-title">Battery</span> : {{ phone.battery.type }} </li>
						<li> <span class="i-title">Display</span> : {{ phone.display }} </li>
						<li> <span class="i-title">Connectivity</span> : {{ phone.connectivity.bluetooth }} </li>
						<li> <span class="i-title">Infrared</span> : {{phone.connectivity.infrared | checkmark}} </li>
						<li> <span class="i-title">Additional Features</span> : {{ phone.additionalFeatures }} </li>
						<li> <span class="i-title">Size &amp; Weight</span> : 

							<span ng-repeat="feature in phone.sizeAndWeight.dimensions"> {{ feature }}</span>

						 </li>
						<li> <span class="i-title">Features</span> : 	<span ng-repeat="feature in phone.camera.features"> {{ feature }}</span> </li>
						<li> <span class="i-title">description</span> : {{ phone.description }} </li>
						<li> <span class="i-title">Accelerometer</span> : {{ phone.hardware.accelerometer | checkmark }} </li>
						<li> <span class="i-title">Flash</span> : {{ phone.storage.flash }} </li>
						<li> <span class="i-title">Ram</span> : {{ phone.storage.ram }} </li>
					</ul>
			</div> <!-- End -->
	</div> <!-- End Col -->
</div> <!-- End row -->